<div>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>IBAN</th>
            <th>Profession</th>
            <th>Phone number</th>
        </tr>
        {% for client in clients %}
         <tr>
             <td>{{ client.id }}</td>
             <td>{{ client.name }}</td>
             <td>{{ client.iban }}</td>
             <td>{{ client.job }}</td>
             <td>{{ client.tel }}</td>
         </tr>
         {% endfor %}
    </table>
</div>